#### This lab used to discover my current rent property information in Chelsea Manhattan new York. helping me to explore facilities around this neighborhood. Because I am very satisfy with my location. so I want to live in a similar  neighborhood when I move in Toronto.

In [22]:
import numpy as np #library to handle data in a vectorized manner 
import pandas as pd #library for data analysis 
pd.set_option('display.max_columns',None)
pd.set_option('display.max.rows',None)
import requests
import json #library to handle JSON files
import os
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans
#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [2]:
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

In [3]:
print(os.getcwd())

C:\Users\liuyi\Desktop\Coursera Capstone

In [4]:
with open('newyork_data.json') as json_file:
    newyork_data = json.load(json_file)

In [5]:
neighborhoods_data = newyork_data['features']

In [6]:
neighborhoods_data[0]

{'type': 'Feature',
 'id': 'nyu_2451_34572.1',
 'geometry': {'type': 'Point',
  'coordinates': [-73.84720052054902, 40.89470517661]},
 'geometry_name': 'geom',
 'properties': {'name': 'Wakefield',
  'stacked': 1,
  'annoline1': 'Wakefield',
  'annoline2': None,
  'annoline3': None,
  'annoangle': 0.0,
  'borough': 'Bronx',
  'bbox': [-73.84720052054902,
   40.89470517661,
   -73.84720052054902,
   40.89470517661]}}

In [7]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

In [8]:
neighborhoods.head()

Empty DataFrame
Columns: [Borough, Neighborhood, Latitude, Longitude]
Index: []

In [9]:
for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

#### This is the Neighorhood i live. Manhattan Chelsea.

In [16]:
manhattan_data=neighborhoods[(neighborhoods['Neighborhood']=='Chelsea')&(neighborhoods['Borough']=='Manhattan')]
manhattan_data

       Borough Neighborhood   Latitude  Longitude
116  Manhattan      Chelsea  40.744035 -74.003116

Let's get the geographical coordinates of Manhattan.

In [11]:
address = 'Manhattan, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Manhattan are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Manhattan are 40.7896239, -73.9598939.

In [14]:
# create map of Manhattan using latitude and longitude values
map_manhattan = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(manhattan_data['Latitude'], manhattan_data['Longitude'], manhattan_data['Neighborhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_manhattan)  
    
map_manhattan

#### Define Foursquare Credentials and Version

In [15]:
CLIENT_ID = 'DV1ORBRI554RS4C1DVX1EXJ2HBF1MGZ45AM5TMUUO4K2VIQC' # your Foursquare ID
CLIENT_SECRET = 'VK0JZOEDLNZTCQCRS124ZS1XII1GJ05DFEZKKYFSSVPW0UNX' # your Foursquare Secret
VERSION = '20200410' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: DV1ORBRI554RS4C1DVX1EXJ2HBF1MGZ45AM5TMUUO4K2VIQC
CLIENT_SECRET:VK0JZOEDLNZTCQCRS124ZS1XII1GJ05DFEZKKYFSSVPW0UNX

#### Let's explore the Chelsea in our dataframe.

In [23]:
radius = 500
LIMIT = 100

venues = []

for lat, long,borough, neighborhood in zip(manhattan_data['Latitude'], manhattan_data['Longitude'], manhattan_data['Borough'], manhattan_data['Neighborhood']):
    url = "https://api.foursquare.com/v2/venues/explore?client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(
        CLIENT_ID,
        CLIENT_SECRET,
        VERSION,
        lat,
        long,
        radius, 
        LIMIT)
    
    results = requests.get(url).json()["response"]['groups'][0]['items']
    
    for venue in results:
        venues.append((
             
            borough,
            neighborhood,
            lat, 
            long, 
            venue['venue']['name'], 
            venue['venue']['location']['lat'], 
            venue['venue']['location']['lng'],  
            venue['venue']['categories'][0]['name']))

In [39]:
### change to a dataframe 
selected_table=pd.DataFrame(venues)
selected_table.head()

,0,1,2,3,4,5,6,7
0,Manhattan,Chelsea,40.744035,-74.003116,Milk & Hops Chelsea,40.744751,-74.002595,Beer Bar
1,Manhattan,Chelsea,40.744035,-74.003116,Bathtub Gin,40.743638,-74.003290,Speakeasy
2,Manhattan,Chelsea,40.744035,-74.003116,Billy's Bakery,40.745374,-74.002119,Cupcake Shop
3,Manhattan,Chelsea,40.744035,-74.003116,Buddakan,40.742120,-74.004612,Chinese Restaurant
4,Manhattan,Chelsea,40.744035,-74.003116,The Joyce Theater,40.742829,-74.000534,Theater

In [41]:
#define column name for select_table
selected_table.columns =['Borough', 'Neighborhood', 'Latitude', 'Longitude', 'VenueName', 'VenueLatitude', 'VenueLongitude', 'VenueCategory']
selected_table

,Borough,Neighborhood,Latitude,Longitude,VenueName,VenueLatitude,VenueLongitude,VenueCategory
0,Manhattan,Chelsea,40.744035,-74.003116,Milk & Hops Chelsea,40.744751,-74.002595,Beer Bar
1,Manhattan,Chelsea,40.744035,-74.003116,Bathtub Gin,40.743638,-74.003290,Speakeasy
2,Manhattan,Chelsea,40.744035,-74.003116,Billy's Bakery,40.745374,-74.002119,Cupcake Shop
3,Manhattan,Chelsea,40.744035,-74.003116,Buddakan,40.742120,-74.004612,Chinese Restaurant
4,Manhattan,Chelsea,40.744035,-74.003116,The Joyce Theater,40.742829,-74.000534,Theater
5,Manhattan,Chelsea,40.744035,-74.003116,Chelsea Market,40.742182,-74.005301,Market
6,Manhattan,Chelsea,40.744035,-74.003116,Sushinao,40.742033,-74.001581,Japanese Restaurant
7,Manhattan,Chelsea,40.744035,-74.003116,The Meatball Shop,40.745988,-74.001686,Italian Restaurant
8,Manhattan,Chelsea,40.744035,-74.003116,Intelligentsia Coffee,40.745926,-74.005376,Coffee Shop
9,Manhattan,Chelsea,40.744035,-74.003116,Lobster Place,40.742715,-74.006107,Fish Market
10,Manhattan,Chelsea,40.744035,-74.003116,The High Line Hotel,40.745924,-74.005389,Hotel
11,Manhattan,Chelsea,40.744035,-74.003116,Cookshop,40.745731,-74.005596,American Restaurant
12,Manhattan,Chelsea,40.744035,-74.003116,Cull & Pistol,40.742598,-74.006078,Seafood Restaurant
13,Manhattan,Chelsea,40.744035,-74.003116,Los Tacos No. 1,40.742244,-74.005961,Taco Place
14,Manhattan,Chelsea,40.744035,-74.003116,Ample Hills Creamery,40.741594,-74.001375,Ice Cream Shop
15,Manhattan,Chelsea,40.744035,-74.003116,High Line 10th Ave Amphitheatre,40.743981,-74.006844,Scenic Lookout
16,Manhattan,Chelsea,40.744035,-74.003116,Dickson's Farmstand Meats,40.742271,-74.006086,Butcher
17,Manhattan,Chelsea,40.744035,-74.003116,Los Mariscos,40.742000,-74.005890,Seafood Restaurant
18,Manhattan,Chelsea,40.744035,-74.003116,16 Handles,40.742872,-74.000042,Ice Cream Shop
19,Manhattan,Chelsea,40.744035,-74.003116,Food Network,40.743141,-74.006662,Office
20,Manhattan,Chelsea,40.744035,-74.003116,Starbucks Reserve Roastery,40.741662,-74.005080,Coffee Shop
21,Manhattan,Chelsea,40.744035,-74.003116,Jungle Bird,40.742654,-74.000347,Cocktail Bar
22,Manhattan,Chelsea,40.744035,-74.003116,Serge Normant @ John Frieda,40.745850,-73.999939,Health & Beauty Service
23,Manhattan,Chelsea,40.744035,-74.003116,City Cakes,40.741992,-74.000089,Cupcake Shop
24,Manhattan,Chelsea,40.744035,-74.003116,Westville Chelsea,40.741963,-74.000047,American Restaurant
25,Manhattan,Chelsea,40.744035,-74.003116,Equinox Highline,40.743709,-74.006974,Gym
26,Manhattan,Chelsea,40.744035,-74.003116,SoulCycle Chelsea,40.743647,-74.007093,Cycle Studio
27,Manhattan,Chelsea,40.744035,-74.003116,Pearl River Mart,40.742735,-74.006518,Market
28,Manhattan,Chelsea,40.744035,-74.003116,Zizi,40.742951,-74.000081,Middle Eastern Restaurant
29,Manhattan,Chelsea,40.744035,-74.003116,High Line,40.746825,-74.005507,Park
30,Manhattan,Chelsea,40.744035,-74.003116,Foragers Table,40.744709,-73.999176,American Restaurant
31,Manhattan,Chelsea,40.744035,-74.003116,192 BOOKS,40.746674,-74.004931,Bookstore
32,Manhattan,Chelsea,40.744035,-74.003116,Del Posto,40.743439,-74.007449,Italian Restaurant
33,Manhattan,Chelsea,40.744035,-74.003116,Artichoke Basille's Pizza & Bar,40.743986,-74.006662,Pizza Place
34,Manhattan,Chelsea,40.744035,-74.003116,Chelsea Market Baskets,40.742717,-74.006737,Gift Shop
35,Manhattan,Chelsea,40.744035,-74.003116,David Zwirner Gallery,40.745734,-74.007076,Art Gallery
36,Manhattan,Chelsea,40.744035,-74.003116,Milk Studios,40.742483,-74.007074,Photography Studio
37,Manhattan,Chelsea,40.744035,-74.003116,Spear Physical Therapy,40.741082,-74.001444,Physical Therapist
38,Manhattan,Chelsea,40.744035,-74.003116,Terremoto,40.740999,-74.003205,Coffee Shop
39,Manhattan,Chelsea,40.744035,-74.003116,Foragers City Grocer,40.744659,-73.999057,Grocery Store
40,Manhattan,Chelsea,40.744035,-74.003116,Blue Bottle Coffee,40.742473,-74.006982,Coffee Shop
41,Manhattan,Chelsea,40.744035,-74.003116,Fabrique Bakery,40.740717,-74.004722,Bakery
42,Manhattan,Chelsea,40.744035,-74.003116,Posman Books,40.742906,-74.006764,Bookstore
43,Manhattan,Chelsea,40.744035,-74.003116,L'Arte del Gelato,40.742863,-74.006955,Ice Cream Shop
44,Manhattan,Chelsea,40.744035,-74.003116,St Kilda Coffee,40.743854,-73.999770,Coffee Shop
45,Manhattan,Chelsea,40.744035,-74.003116,Seamore's,40.742290,-74.000837,Seafood Restaurant
46,Manhattan,Chelsea,40.744035,-74.003116,London Terrace Wines & Spirits,40.746735,-74.000987,Wine Shop
47,Manhattan,Chelsea,40.744035,-74.003116,Artists & Fleas (Artists and Fleas at Chelsea ...,40.742874,-74.007412,Flea Market
48,Manhattan,Chelsea,40.744035,-74.003116,Empire Cake,40.740754,-74.001508,Bakery
49,Manhattan,Chelsea,40.744035,-74.003116,Saxelby Cheesemongers,40.742720,-74.006552,Cheese Shop
50,Manhattan,Chelsea,40.744035,-74.003116,Flywheel Sports,40.741230,-73.999810,Cycle Studio
51,Manhattan,Chelsea,40.744035,-74.003116,Bareburger,40.742973,-73.999871,Burger Joint
52,Manhattan,Chelsea,40.744035,-74.003116,Momofuku Nishi,40.744468,-73.999089,Italian Restaurant
53,Manhattan,Chelsea,40.744035,-74.003116,Milk Gallery,40.742582,-74.007189,Art Gallery
54,Manhattan,Chelsea,40.744035,-74.003116,Murray's Bagels,40.744760,-73.998540,Bagel Shop
55,Manhattan,Chelsea,40.744035,-74.003116,Pool at London Terrace Gardens,40.747876,-74.003166,Pool
56,Manhattan,Chelsea,40.744035,-74.003116,The Kitchen,40.745426,-74.006810,Indie Theater
57,Manhattan,Chelsea,40.744035,-74.003116,London Terrace Gardens Courtyard,40.747886,-74.003224,Plaza
58,Manhattan,Chelsea,40.744035,-74.003116,Soho House,40.740537,-74.005685,Club House
59,Manhattan,Chelsea,40.744035,-74.003116,Beasty Feast,40.740398,-74.003865,Pet Store
60,Manhattan,Chelsea,40.744035,-74.003116,David Zwirner Gallery,40.746635,-74.007329,Art Gallery
61,Manhattan,Chelsea,40.744035,-74.003116,Jeffrey New York,40.741848,-74.007463,Boutique
62,Manhattan,Chelsea,40.744035,-74.003116,Soho House 6th Floor Bar,40.740510,-74.005671,Bar
63,Manhattan,Chelsea,40.744035,-74.003116,Bumble & Bumble,40.740808,-74.006597,Salon / Barbershop
64,Manhattan,Chelsea,40.744035,-74.003116,Avenue,40.744114,-74.006642,Nightclub
65,Manhattan,Chelsea,40.744035,-74.003116,Joe The Art of Coffee,40.747007,-74.001877,Coffee Shop
66,Manhattan,Chelsea,40.744035,-74.003116,Asics,40.741461,-74.006608,Shoe Store
67,Manhattan,Chelsea,40.744035,-74.003116,Café Grumpy,40.742573,-73.998390,Coffee Shop
68,Manhattan,Chelsea,40.744035,-74.003116,Gladstone Gallery,40.747059,-74.006606,Art Gallery
69,Manhattan,Chelsea,40.744035,-74.003116,Kobrick Coffee Co.,40.740337,-74.005693,Coffee Shop
70,Manhattan,Chelsea,40.744035,-74.003116,Lions & Tigers & Squares,40.745226,-73.998237,Pizza Place
71,Manhattan,Chelsea,40.744035,-74.003116,Cinépolis Chelsea,40.745012,-73.998020,Movie Theater
72,Manhattan,Chelsea,40.744035,-74.003116,Terroir at The Porch,40.742933,-74.007634,Wine Bar
73,Manhattan,Chelsea,40.744035,-74.003116,Purple Passion,40.742521,-73.997635,Miscellaneous Shop
74,Manhattan,Chelsea,40.744035,-74.003116,Doyle & Doyle,40.740485,-74.006704,Jewelry Store
75,Manhattan,Chelsea,40.744035,-74.003116,Fig & Olive,40.740613,-74.006916,Mediterranean Restaurant
76,Manhattan,Chelsea,40.744035,-74.003116,Toro,40.743342,-74.008516,Spanish Restaurant
77,Manhattan,Chelsea,40.744035,-74.003116,Bottino Takeout,40.748512,-74.003457,Sandwich Place
78,Manhattan,Chelsea,40.744035,-74.003116,Lumas Pop-Up,40.741521,-74.007192,Art Gallery
79,Manhattan,Chelsea,40.744035,-74.003116,Pier 57,40.743230,-74.008589,General Entertainment
80,Manhattan,Chelsea,40.744035,-74.003116,Lisson Gallery,40.748331,-74.004398,Art Gallery
81,Manhattan,Chelsea,40.744035,-74.003116,DVF Meatpacking,40.741426,-74.007212,Women's Store
82,Manhattan,Chelsea,40.744035,-74.003116,The Orchard Townhouse,40.748354,-74.003418,Restaurant
83,Manhattan,Chelsea,40.744035,-74.003116,Jun-Men Ramen Bar,40.747956,-74.000301,Ramen Restaurant
84,Manhattan,Chelsea,40.744035,-74.003116,Blue Bottle Cart,40.742793,-74.007683,Coffee Shop
85,Manhattan,Chelsea,40.744035,-74.003116,Chelsea Pier 61,40.745600,-74.008601,Harbor / Marina
86,Manhattan,Chelsea,40.744035,-74.003116,L'Atelier de Joël Robuchon,40.742871,-74.007832,French Restaurant
87,Manhattan,Chelsea,40.744035,-74.003116,Citizens of Chelsea,40.747906,-74.000458,Café
88,Manhattan,Chelsea,40.744035,-74.003116,Chelsea Piers Sports Center Cafe and Sushi Bar,40.744699,-74.008119,Café
89,Manhattan,Chelsea,40.744035,-74.003116,Paula Cooper Gallery,40.747127,-74.006810,Art Gallery
90,Manhattan,Chelsea,40.744035,-74.003116,14th Street Park,40.742772,-74.008349,Park
91,Manhattan,Chelsea,40.744035,-74.003116,Jean Shop,40.741461,-74.007159,Clothing Store
92,Manhattan,Chelsea,40.744035,-74.003116,Bond No. 9 NYC,40.741180,-74.007440,Cosmetics Shop
93,Manhattan,Chelsea,40.744035,-74.003116,Bruce Silverstein Gallery,40.746558,-74.006953,Art Gallery
94,Manhattan,Chelsea,40.744035,-74.003116,Comme des Garcons POCKET,40.744014,-74.006758,Boutique
95,Manhattan,Chelsea,40.744035,-74.003116,Josée Bienvenu Gallery,40.746445,-74.007032,Art Gallery
96,Manhattan,Chelsea,40.744035,-74.003116,Pressed Juicery,40.743688,-74.007012,Juice Bar
97,Manhattan,Chelsea,40.744035,-74.003116,Jane Lombard Gallery,40.745481,-74.007118,Art Gallery
98,Manhattan,Chelsea,40.744035,-74.003116,Paula Cooper Gallery,40.746920,-74.006898,Art Gallery
99,Manhattan,Chelsea,40.744035,-74.003116,Flowers Gallery,40.746456,-74.007033,Art Gallery

### Analyze Chelase Neighborhood

In [53]:
# one hot encoding
Chelsea = pd.get_dummies(selected_table[['VenueCategory']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
Chelsea ['Neighborhood'] =selected_table['Neighborhood'] 

# move postal, borough and neighborhood column to the first column
fixed_columns = [Chelsea.columns[-1]] + list(Chelsea.columns[:-1])
Chelsea  = Chelsea[fixed_columns]


Chelsea.head()

,Neighborhood,American Restaurant,Art Gallery,Bagel Shop,Bakery,Bar,Beer Bar,Bookstore,Boutique,Burger Joint,Butcher,Café,Cheese Shop,Chinese Restaurant,Clothing Store,Club House,Cocktail Bar,Coffee Shop,Cosmetics Shop,Cupcake Shop,Cycle Studio,Fish Market,Flea Market,French Restaurant,General Entertainment,Gift Shop,Grocery Store,Gym,Harbor / Marina,Health & Beauty Service,Hotel,Ice Cream Shop,Indie Theater,Italian Restaurant,Japanese Restaurant,Jewelry Store,Juice Bar,Market,Mediterranean Restaurant,Middle Eastern Restaurant,Miscellaneous Shop,Movie Theater,Nightclub,Office,Park,Pet Store,Photography Studio,Physical Therapist,Pizza Place,Plaza,Pool,Ramen Restaurant,Restaurant,Salon / Barbershop,Sandwich Place,Scenic Lookout,Seafood Restaurant,Shoe Store,Spanish Restaurant,Speakeasy,Taco Place,Theater,Wine Bar,Wine Shop,Women's Store
0,Chelsea,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Chelsea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,Chelsea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Chelsea,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Chelsea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [55]:
Chelsea_freq=Chelsea.groupby('Neighborhood').mean().reset_index()
Chelsea_freq.head()

,Neighborhood,American Restaurant,Art Gallery,Bagel Shop,Bakery,Bar,Beer Bar,Bookstore,Boutique,Burger Joint,Butcher,Café,Cheese Shop,Chinese Restaurant,Clothing Store,Club House,Cocktail Bar,Coffee Shop,Cosmetics Shop,Cupcake Shop,Cycle Studio,Fish Market,Flea Market,French Restaurant,General Entertainment,Gift Shop,Grocery Store,Gym,Harbor / Marina,Health & Beauty Service,Hotel,Ice Cream Shop,Indie Theater,Italian Restaurant,Japanese Restaurant,Jewelry Store,Juice Bar,Market,Mediterranean Restaurant,Middle Eastern Restaurant,Miscellaneous Shop,Movie Theater,Nightclub,Office,Park,Pet Store,Photography Studio,Physical Therapist,Pizza Place,Plaza,Pool,Ramen Restaurant,Restaurant,Salon / Barbershop,Sandwich Place,Scenic Lookout,Seafood Restaurant,Shoe Store,Spanish Restaurant,Speakeasy,Taco Place,Theater,Wine Bar,Wine Shop,Women's Store
0,Chelsea,0.03,0.12,0.01,0.02,0.01,0.01,0.02,0.02,0.01,0.01,0.02,0.01,0.01,0.01,0.01,0.01,0.09,0.01,0.02,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.03,0.01,0.03,0.01,0.01,0.01,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.02,0.01,0.01,0.01,0.02,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.03,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01

### Let's find top 10 most common venues

In [57]:
num_top_venues = 10

for hood in Chelsea_freq['Neighborhood']:
    print("----"+hood+"----")
    temp =Chelsea_freq[Chelsea_freq['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Chelsea----
                 venue  freq
0          Art Gallery  0.12
1          Coffee Shop  0.09
2  American Restaurant  0.03
3   Seafood Restaurant  0.03
4       Ice Cream Shop  0.03
5   Italian Restaurant  0.03
6            Bookstore  0.02
7               Market  0.02
8             Boutique  0.02
9                 Café  0.02

In [59]:
# we can use write a function to sort the venues in descending order.
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [60]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = Chelsea_freq['Neighborhood']

for ind in np.arange(Chelsea_freq.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(Chelsea_freq.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head(20)

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Chelsea,Art Gallery,Coffee Shop,American Restaurant,Ice Cream Shop,Italian Restaurant,Seafood Restaurant,Cupcake Shop,Park,Pizza Place,Market

So based on table above , i's like to find a same or similar neighborhood in toronto, then thit neighborhood will be my dream place. Generally speaking, i did't put rental pricing as condition, becasue in my opinion new york rental price is higher than in toronto. So it should be cheaper of same neighorhood in toronto.